table {
  width: 100%;
}

table th, td {
  text-align: center;
}

.header-table {
  display: flex;
  padding: 1vh 2vw 1vh 2vw;
  box-shadow: 0 4px 7px 1px rgba(0,0,0,0.3);
}

.content-table {
  max-width: 100%;
  padding: 5vh 5vw 10vh 5vw;
}

.date-picker {
  margin-left: 3vw;
}
