
<div class="dialog-header">
  <h1 *ngIf="editMode" mat-dialog-title>Editar Produto</h1>
  <h1 *ngIf="!editMode" mat-dialog-title>Adicionar Produto</h1>
  <hr>
</div>

<form #form="ngForm">
  <div mat-dialog-content>
    <div class="inputs">
      <mat-form-field appearance="outline" class="input">
        <mat-label>Nome do Produto</mat-label>
        <input required matInput placeholder="Insira o nome do produto" name="name" [(ngModel)]="data.name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="input">
        <mat-label>Unidade de medida</mat-label>
        <mat-select required [(value)]="data.unit.id">
          <mat-option *ngFor="let unit of unities" [value]="unit.id">
            {{ unit.unit }} ({{ unit.description }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="inputs">
      <mat-form-field appearance="outline" class="input">
        <mat-label>Descrição</mat-label>
        <input required matInput placeholder="Insira uma descrição" name="description" [(ngModel)]="data.description">
      </mat-form-field>

      <mat-form-field appearance="outline" class="input">
        <mat-label>Quantidade</mat-label>
        <input required [disabled]="editMode" type="number" min="1" matInput placeholder="Insira a quantidade de produtos" name="quantity" [(ngModel)]="data.stock.quantity">
      </mat-form-field>

      <mat-form-field appearance="outline" class="input">
        <mat-label>Quantidade mínima</mat-label>
        <input required type="number" min="0" matInput placeholder="Insira uma quantidade mínima a ser notificada" name="quantity_min" [(ngModel)]="data.stock.quantity_min">
      </mat-form-field>
    </div>

  </div>

  <div  class="dialog-footer">
    <hr>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button
      mat-button [mat-dialog-close]="data"
      color="primary"
      (click)="createOrEditProduct(data)"
      [disabled]="form.invalid"
    >Adicionar</button>
  </div>
</form>
