<div class="container">
  <mat-toolbar>
    Produtos
  </mat-toolbar>

  <hr class="line">

  <div class="content-table">
    <div class="header-table">
      <div class="search">
        <input type="text" class="search-input">
      </div>

      <div class="add">
        <button mat-button color="primary" (click)="addCompany('' || null)">
          <span>Adicionar Empresa</span>
        </button>
      </div>
    </div>

    <div class="align-table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome da Empresa </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="entrada">
          <th mat-header-cell *matHeaderCellDef> CNPJ </th>
          <td mat-cell *matCellDef="let element"> {{ element.cnpj }} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editCompany(element)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteCompany(element)" color="warn">
              <mat-icon class="mat-buttons">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>
