
<div class="dialog-header">
  <h1 *ngIf="editMode" mat-dialog-title>Editar Escola</h1>
  <h1 *ngIf="!editMode" mat-dialog-title>Adicionar Escola</h1>
  <hr>
</div>

<div mat-dialog-content>
  <div class="inputs">
    <mat-form-field appearance="outline" class="input">
      <mat-label>Escola</mat-label>
      <input matInput placeholder="Placeholder" name="schoolName" [(ngModel)]="data.name">
    </mat-form-field>
  </div>
</div>

<div  class="dialog-footer">
  <hr>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" color="primary" (click)="saveSchool(data)">Adicionar</button>
</div>
