<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened fixedInViewport="true">
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon>menu</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="dashboard">
        <mat-icon mat-list-icon>leaderboard</mat-icon>
        <span *ngIf="isExpanded">Dashboard</span>
      </mat-list-item>
      <mat-list-item routerLink="produtos">
        <mat-icon mat-list-icon>inventory_2</mat-icon>
        <span *ngIf="isExpanded">Produtos</span>
      </mat-list-item>
      <mat-list-item routerLink="escolas">
        <mat-icon mat-list-icon>school</mat-icon>
        <span *ngIf="isExpanded">Escolas</span>
      </mat-list-item>
      <mat-list-item routerLink="solicitacoes">
        <mat-icon mat-list-icon>emoji_people</mat-icon>
        <span *ngIf="isExpanded">Solicitações</span>
      </mat-list-item>
      <mat-list-item routerLink="unidades-de-medida">
        <mat-icon mat-list-icon>balance</mat-icon>
        <span *ngIf="isExpanded">Unidades de Medida</span>
      </mat-list-item>
      <mat-list-item routerLink="usuarios">
        <mat-icon mat-list-icon>group</mat-icon>
        <span *ngIf="isExpanded">Usuários</span>
      </mat-list-item>
      <mat-list-item (click)="onLogout()">
        <mat-icon mat-list-icon>logout</mat-icon>
        <span *ngIf="isExpanded">Sair</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-main></app-main>
  </mat-sidenav-content>
</mat-sidenav-container>
