<div class="container">
  <mat-toolbar>
    Solicitações
  </mat-toolbar>

  <hr class="line">

  <div class="cards">
    <div class="request">
      <p>
        <button mat-flat-button color="primary" (click)="addRequest()">Fazer Solicitação</button>
      </p>
    </div>

    <div class="card">
      <mat-card>
        <mat-grid-list cols="4" rowHeight="4:0.2">
          <mat-grid-tile>Produto Solicitado</mat-grid-tile>
          <mat-grid-tile>Escola</mat-grid-tile>
          <mat-grid-tile>Situação</mat-grid-tile>
          <mat-grid-tile>Data</mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-grid-list cols="4" rowHeight="4:0.2">
          <mat-grid-tile>Produto Solicitado</mat-grid-tile>
          <mat-grid-tile>Escola</mat-grid-tile>
          <mat-grid-tile>Situação</mat-grid-tile>
          <mat-grid-tile>Data</mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
  </div>
</div>
