<div class="container">
  <mat-toolbar>
    Escolas
  </mat-toolbar>

  <hr class="line">

  <div class="content-table">
    <div class="header-table">
      <div class="search">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Busca Avançada</mat-label>
            <input type="text" matInput placeholder="digite a coluna ou o item">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </div>

      <div class="add">
        <button mat-button color="primary" (click)="addSchools('' || null)">
          <span>Adicionar Escola</span>
        </button>
      </div>
    </div>

    <div class="align-table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome da Escola </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="nomeUnidade">
          <th mat-header-cell *matHeaderCellDef> Nome da Unidade </th>
          <td mat-cell *matCellDef="let element"> {{ element.unidadeName }} </td>
        </ng-container>

        <ng-container matColumnDef="endereco">
          <th mat-header-cell *matHeaderCellDef> Endereço da Unidade </th>
          <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
        </ng-container>

        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef> telefone da Unidade </th>
          <td mat-cell *matCellDef="let element"> {{ element.celphone }} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editSchools(element)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteSchools(element)" color="warn">
              <mat-icon class="mat-buttons">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
