<div class="container">
  <mat-toolbar>
    Produtos
  </mat-toolbar>

  <hr class="line">

  <div class="content-table">
    <div class="header-table">
      <div class="search">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Busca Avançada</mat-label>
            <input type="text" matInput placeholder="digite a coluna ou o item">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </div>

      <div class="add">
        <button mat-button color="primary" (click)="addProduct(produto)">
          <span>Adicionar Produto</span>
        </button>
      </div>
    </div>

    <div class="align-table">
      <table mat-table [dataSource]="pageSlice" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
        </ng-container>

        <ng-container matColumnDef="quantidade">
          <th mat-header-cell *matHeaderCellDef> Quantidade </th>
          <td mat-cell *matCellDef="let element"> {{ element.stock.quantity }} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editProduct(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button  color="warn" (click)="deleteProduct(element)">
              <mat-icon class="mat-buttons">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        class="mat-elevation-z8"
        [length]="produtos.length"
        [pageSize]="25"
        [pageSizeOptions]="[10, 25, 50, 100]"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
