<section id="wallpaper">
  <img src="../../../assets/images/wallpaper.jpg" class="background-image">
</section>

<section id="content-login">
  <mat-card class="content">

    <div class="title">
      <h1>Login</h1>
    </div>

    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>E-mail:</mat-label>
        <input type="email" matInput placeholder="Ex. email@gmail.com" formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Senha:</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

      <div class="buttons">
        <button type="submit" mat-stroked-button color="primary" class="button-submit" (click)="makeLogin()" [disabled]="form.invalid">Login</button>
      </div>
    </form>

  </mat-card>
</section>

<section id="image-apresentation">
  <img src="../../../assets/images/login.png" class="chart-image">
</section>
