
<div class="dialog-header">
  <h1 *ngIf="editMode" mat-dialog-title>Editar unidade escolar</h1>
  <h1 *ngIf="!editMode" mat-dialog-title>Adicionar unidade escolar</h1>
  <hr>
</div>

<div mat-dialog-content>
  <div class="inputs">
    <mat-form-field appearance="outline" class="input">
      <mat-select [(value)]="data.school.id" placeholder="Selecione uma escola">
        <mat-option *ngFor="let escola of escolas" [value]="escola.id">
          {{ escola.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
      <mat-label>Unidade Escolar</mat-label>
      <input matInput placeholder="Placeholder" name="unitName" [(ngModel)]="data.name">
    </mat-form-field>
  </div>

  <div class="inputs">
    <mat-form-field appearance="outline" class="input">
      <mat-label>Endereço da Unidade</mat-label>
      <input matInput placeholder="Placeholder" name="address" [(ngModel)]="data.address">
    </mat-form-field>

    <mat-form-field *ngFor="let phone of data.phone; let i = index" appearance="outline" class="input">
      <mat-label>Telefone da Unidade</mat-label>
      <input matInput placeholder="Placeholder" name="phone{{i}}" [(ngModel)]="phone.phone">
    </mat-form-field>
  </div>
</div>

<div  class="dialog-footer">
  <hr>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" color="primary" (click)="saveSchoolUnit(data)">Adicionar</button>
</div>
