<div class="dialog-header">
  <h1 *ngIf="editMode" mat-dialog-title>Editar unidade escolar</h1>
  <h1 *ngIf="!editMode" mat-dialog-title>Adicionar unidade escolar</h1>
  <hr>
</div>

<div mat-dialog-content>
  <form [formGroup]="schoolUnitForm">
    <div class="inputs">
      <mat-form-field appearance="outline" class="input" formGroupName="school">
        <mat-select [(value)]="data.school.id" placeholder="Selecione uma escola" formControlName="id">
          <mat-option *ngFor="let escola of escolas" [value]="escola.id">
            {{ escola.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input">
        <mat-label>Unidade Escolar</mat-label>
        <input matInput placeholder="Placeholder" formControlName="name">
      </mat-form-field>
    </div>

    <div class="inputs">
      <mat-form-field appearance="outline" class="input">
        <mat-label>Endereço da Unidade</mat-label>
        <input matInput placeholder="Placeholder" formControlName="address">
      </mat-form-field>
    </div>

    <div formArrayName="phone" *ngFor="let phone of phone.controls; let i = index">
      <div class="inputs" [formGroupName]="i">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Telefone da Unidade</mat-label>
          <input matInput placeholder="Placeholder" formControlName="phone">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Descrição</mat-label>
          <input matInput placeholder="Placeholder" formControlName="description">
        </mat-form-field>

        <button class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                (click)="removeOrClearPhone(1)" matTooltip="Remove">
          <mat-icon>highlight_off</mat-icon>
        </button>
        <button class="float-left" mat-icon-button color="primary" aria-label="Add"
                (click)="addPhones()" matTooltip="Add">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="dialog-footer">
  <hr>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button *ngIf="!editMode" mat-button [mat-dialog-close]="data" color="primary" (click)="saveSchoolUnit()" [disabled]="schoolUnitForm.invalid">Adicionar</button>
  <button *ngIf="editMode" mat-button [mat-dialog-close]="data" color="primary" (click)="saveSchoolUnit()" [disabled]="schoolUnitForm.invalid">Editar</button>
</div>
